
/* Base rules */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body, nav, section {
  font-family: arial;
  padding: 0;
  margin: 0;
}
p {
  font-family: arial;
  padding: 0 16px;
  text-indent: 4ch;
}
h1 {
  font-family: 'Dela Gothic One', cursive;
  padding: 0 16px;
}
/* layout rules */
.container {
  display: flex;
  flex-direction: column;
}
.scaled {
  max-width: 60%;
  max-height: 60%;
}
.centered {
  display: flex;
  align-self: center;
  justify: center;
}
body.home {
  width: 100%;
  height: 120vh;
}
body.writings{
  width: 100%;
  height: auto;
  background:
linear-gradient(135deg, #708090 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
linear-gradient(225deg, #708090 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
background-color:#708090;
background-size: 64px 128px;
}
.bg-container {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;

  background: url("../img/wachusett-inlet.jpg")
    top left / 100% 100%
    no-repeat
    silver;
  overflow: visible;
}
.bg-gallery {
  height:100vh;
  width:auto;
  background-image:
  radial-gradient(circle at 100% 150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
  radial-gradient(circle at 0    150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
  radial-gradient(circle at 50%  100%, white 10%, silver 10%, silver 23%, white 23%, white 30%, silver 30%, silver 43%, white 43%, white 50%, silver 50%, silver 63%, white 63%, white 71%, transparent 71%, transparent),
  radial-gradient(circle at 100% 50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent),
  radial-gradient(circle at 0    50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent);
  background-size: 100px 50px;
}
nav.home-nav {
  display: flex;
  padding-top: 10px;
}
nav.writings-nav {
  padding-top: .7em;
}
nav h1 {
  display: inherit;
  align-content: left;
}
nav h4 {
  display: inherit;
  padding: 0 16px;
  align-content: left;
}
nav img.logo{
  border-radius: 8em;
}

.section-wrapper{
  width: 100%;
  margin: 0px;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}
.content-wrapper {
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  padding: inherit;
  width: fit-content;
}
#text {
  width: 35%;
  margin: 0 auto;
  height: fit-content;
  margin: inherit;
  padding: inherit;
  padding-left: 5px;
  background-color: rgb(192,192,192, 0.6);
  border-radius: 2.5em;
}
#links{
  display: flex;
  flex-flow: column wrap;
  width: 30%;
  margin: inherit;
  padding: inherit;
}
#links div {
  padding: 12px;
  margin: 0 auto;
}
button {
  width: 20em;
  height: 13.2em;
  border-radius: 2.5em;
}
.button-text{
  position: relative;
  bottom: 28%;
  font-family: monospace;
  font-size: 24px;
  line-height: 2;
  font-weight: bolder;
  color: rgb(255, 161, 10);
}
footer{
  display: flex;
  position: sticky;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 20vh;
  background-color:silver;
  margin: 0 auto;
  padding: 0;
  z-index: -1;
  background-image:
  radial-gradient(circle at 100% 150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
  radial-gradient(circle at 0    150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
  radial-gradient(circle at 50%  100%, white 10%, silver 10%, silver 23%, white 23%, white 30%, silver 30%, silver 43%, white 43%, white 50%, silver 50%, silver 63%, white 63%, white 71%, transparent 71%, transparent),
  radial-gradient(circle at 100% 50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent),
  radial-gradient(circle at 0    50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent);
  background-size: 100px 50px;
}
div.social-links {
  display: flex;
  justify-content: space-around;
  align-self: center;
  width: 20%;
  padding-top: 1%;
}
.footer-content p {
  width: 30ch;
}

/* module rules */
#photos-button {
background-image: url("../img/mountain-silhouette-thumb.jpg");
background-size: 100% auto;
}
#writings-button {
  background-image: url("../img/kayaking-sunset-thumb.jpg");
  background-size: 100% auto;
}
.post-content{
  background-color: rgba(192,192,192, 0.8);
}
.post-title h1{
  margin-bottom: 0;
  border-top: 3px rgba(18, 140, 59, 0.8) dashed;
}
.post-title .subheader {
  text-decoration: underline;
  font-style: italic;
  font-weight: lighter;
  margin-bottom: .7em;
  margin-top: 0;
}
div.footer-content {
  font-weight: bolder;
  background-color: rgb(192,192,192, 0.6);
  border-radius: 15px;
  align-self: center;
  height: fit-content;
  padding-top: -1%;
  padding-left: 5vw;
  margin: 0;
}

/* state rules */
button:hover {
  cursor: pointer;
}
button:hover > .button-text{
  color: rgb(191, 120, 6);
}
button:active {
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
}


/* responsive layout changes */
/* Portrait Phones */
@media screen and (max-width: 768px) and (orientation: portrait) {
  .bg-container{
    height: 140vh;
  }
  #text{
    width: 85%;
  }
  #text h1, #text p {
    padding-left: 1em;
  }
  #links{
    width: 85%;
  }
  footer{
    height: 30vh;
  }
}

/* Landscape Phones */
@media screen and (orientation: landscape) and (max-width: 900px) {
  .bg-container{
    height: 220vh;
  }
  .content-wrapper div{
    display: flex;
    flex-flow: row wrap;
  }
  #text{
    width: 85%;
  }
  #text h1, #text p {
    padding-left: 1em;
  }
  #links{
    width: 45%;
  }
  footer {
    height: 30vh;
  }
}

/* wc3 schools css for image gallery */
/* Position the image container (needed to position the left and right arrows) */
.gallery-container {
  display:flex;
  flex-flow:column;
  position: relative;
}
.gallery-page{
  height:115vh;
  width:auto;
}
/* Hide the images by default */
.mySlides {
  height:70vh;
  display: none;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}
/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}
/* Container for captions and nav buttons */
.caption-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}
/* Next & previous buttons */
.prev, .next {
  display: flex;
  cursor: pointer;
  position: relative;
  color: orange;
  font-weight: bold;
  font-size: 20px;
  user-select: none;
  -webkit-user-select: none;
  align-self: center;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 25%;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}
/* Add a transparency effect for thumnbail images */
.thumbnail {
  opacity: 0.9;
}
.active,
.thumbnail:hover {
  opacity: 1;
}
