body {
  font-family: arial;
  width: 100%;
  height: 120vh;
  padding: 0;
  margin: 0;
}
h1 {
  font-family: 'Dela Gothic One', cursive;
}
.bg-container {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 130vh;
  padding: 0px;
  margin: 0;
  background: url("../img/wachusett-inlet.jpg")
    top left / 100% 100%
    no-repeat
    silver;
  overflow: visible;
}
nav {
  display: flex;
  height: 10vh;
  padding-top: 10px;
  padding-left: 0;
  padding-bottom: 0px;
  margin: 0 auto;
  margin-bottom: 75px;
}
nav h1 {
  display: inherit;
  padding: 0 4vw;
  align-content: left;
}
nav h4 {
  display: inherit;
  margin: 0 4vw;
  align-content: left;
}
nav img{
  border-radius: 8em;
}

.section-wrapper{
  width: 100%;
  margin: 0px;
  margin-top: 3em;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.content-wrapper {
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  padding: inherit;
  width: fit-content;
}
#text {
  width: 35%;
  margin: 0 auto;
  height: fit-content;
  margin: inherit;
  padding: inherit;
  padding-left: 5px;
  background-color: rgb(192,192,192, 0.6);
  border-radius: 2.5em;
}
#links{
  display: flex;
  flex-flow: column wrap;
  width: 50%;
  margin: inherit;
  padding: inherit;
}
#links div {
  padding: 12px;
  margin: 0 auto;
}
button {
  width: 20em;
  height: 13.2em;
  border-radius: 2.5em;
}
button:hover {
  box-shadow: 4px;
  cursor: pointer;
}
button:active {
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
}
#photos-button {
background-image: url("../img/mountain-silhouette-thumb.jpg");
background-size: 100% auto;
}
#writings-button {
  background-image: url("../img/kayaking-sunset-thumb.jpg");
  background-size: 100% auto;
}
footer{
  display: flex;
  position: sticky;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 15vh;
  background-color:silver;
  margin: 0 auto;
  padding: 0;
  z-index: -1;
  background-image:
  radial-gradient(circle at 100% 150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
  radial-gradient(circle at 0    150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
  radial-gradient(circle at 50%  100%, white 10%, silver 10%, silver 23%, white 23%, white 30%, silver 30%, silver 43%, white 43%, white 50%, silver 50%, silver 63%, white 63%, white 71%, transparent 71%, transparent),
  radial-gradient(circle at 100% 50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent),
  radial-gradient(circle at 0    50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent);
  background-size: 100px 50px;
}
div.footer-content {
  font-family: arial;
  font-weight: bolder;
  background-color: rgb(192,192,192, 0.6);
  border-radius: 15px;
  align-self: center;
  height: fit-content;
  padding-top: -1%;
  padding-left: 5vw;
  margin: 0;
}
.footer-content p {
  width: 30ch;
}
div.social-links {
  display: flex;
  justify-content: space-around;
  align-self: center;
  width: 20%;
  padding-top: 1%;
}


@media screen and (max-width: 768px) and (orientation: portrait) {
  .bg-container{
    height: 140vh;
  }
  #text{
    width: 85%;
  }
  #text h1, #text p {
    padding-left: 1em;
  }
  #links{
    width: 85%;
  }
  footer{
    height: 30vh;
  }
}
@media screen and (orientation: landscape) and (max-width: 900px) {
  .bg-container{
    height: 220vh;
  }
  .content-wrapper div{
    display: flex;
    flex-flow: row wrap;
  }
  #text{
    width: 85%;
  }
  #text h1, #text p {
    padding-left: 1em;
  }
  #links{
    width: 45%;
  }
  footer {
    height: 30vh;
  }
}

/* wc3 schools css for image gallery */

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  display:flex;
  flex-flow:column;
  position: relative;
}
.gallery-page{
  height:115vh;
  width:auto;
}
.bg-gallery {
  height:100vh;
  width:auto;
  background-image:
  radial-gradient(circle at 100% 150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
  radial-gradient(circle at 0    150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
  radial-gradient(circle at 50%  100%, white 10%, silver 10%, silver 23%, white 23%, white 30%, silver 30%, silver 43%, white 43%, white 50%, silver 50%, silver 63%, white 63%, white 71%, transparent 71%, transparent),
  radial-gradient(circle at 100% 50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent),
  radial-gradient(circle at 0    50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent);
  background-size: 100px 50px;
}

/* Hide the images by default */
.mySlides {
  height:70vh;
  display: none;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 35%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: orange;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.9;
}

.active,
.demo:hover {
  opacity: 1;
}
